/*This is the main game CSS. There is the bottom where the things are described, or the characters talks*/
body {
    background-color: black;
}
.game{
    display: flex;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.game img{
    width: 100%;
    max-width: 75%;
    max-height: 75vh;

}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.gameNav {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center; /* Aligns the buttons vertically */
    gap: 1rem; /* Adds space between the buttons */
    background-color: #000;
}

/* Your existing CSS for game buttons */
.gameButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}
.actions {
    border: 2px solid #fff;
    color: #fff;
    /*Italic text*/
    font-style: italic;
}
button:disabled,
button[disabled]{
  border: 1px solid #bebebe;

  color: #bebebe;
}

.actionsText{
    /*Animation fadein then fadeout after a delay with animate.css*/
    font-style: italic;

}

.roomTextIn{
    animation: fadeIn 1s;
}

.roomTextOut{
    animation: fadeOut 1s;
}

/*image fade in and image fade out*/

.roomImgIn{
    animation: fadeIn 1s;
}

.roomImgOut{
    animation: fadeOut 1s;
}

/*CharacterPortrait is on the middle of the page, above other elements*/
.characterPortrait{
    position: absolute; 
    left: 0; 
    right: 0; 
    top:0;
    bottom:25px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom:auto;
    max-width:  40vh; /* Need a specific value to work */
    /*Height that keeps the child ratio image*/
    max-height: 45vh;
}

.characterPortrait img{
    /*keeps ratio of the image*/
    width: 100%;
    max-height: 100%;
    
}

.blur {
    /*Blur and small black and white or brighness*/
    filter: blur(5px) grayscale(25%);
}
/*unblur class wich is a animation from blur 5px and grayscale 25% to 0*/
.unblur {
    animation: unblur 1s;
}
@keyframes unblur {
    0% {    -webkit-filter: blur(5px) grayscale(25%);}
   28% { -webkit-filter: blur(5px) grayscale(25%);}
  100% {  -webkit-filter: blur(0px) grayscale(0%);}
 }

.gameMenu{
    /*this menu is like a navbar on the left. It will includes 2 divs, one for a counter, and one for the items inventory*/
    /*Dont align the items in the vertical center*/
    /*autoscale the inventory width*/

    padding:10px;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom:auto;
    width: 15vh;
    /*Add a sweet background color with rounded border for an inventory*/
    background-color: #44444488;
    border-radius: 10px;
    margin:10px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}