* {
	
	border-radius: 5px;
}

body {
	background: #3F3B6C;
	
	font-family: 'Merriweather', serif;
	color: #A3C7D6;
	background-image: url("../wallpaper.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.parent {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	border-radius: 30px;
	backdrop-filter: blur(100px);
	background-color: rgba(255, 255, 255, 0.03);
}

.title {
	text-align: center;
	position: relative;
	width: 50%;
	left: 25%;
}

.parent .div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
	padding: 2vh;
	background-color: rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.div1 {
	grid-area: 1 / 2 / 3 / 4;
}

.div2 {
	grid-area: 1 / 4 / 2 / 12;
}

.div4 {
	grid-area: 2 / 4 / 3 / 12;
}

.div5 {
	grid-area: 3 / 2 / 7 / 12;
}
@media (max-width: 1000px) { 
	
	.parent {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(1, 1fr);
		background-color: transparent;
	}
	.div1 {
		grid-area: 1 / 4 / 1 / 10;
		
	}
	.div2 {
		grid-area: 2 / 2 / 2 / 12;
	}
	.div5 {
		grid-area: 4 / 2 / 4 / 12;
	}
	.div4 {
		grid-area: 3 / 2 / 3 / 12;
	}
  }
.div1>img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: solid;
}

.stats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	text-align: right;
	
}
.stats input {
	width:50px;
	margin-left:2px;
    height: 20px;
	padding-left:10px;
	color:black;
	
}
.leftstat {
	grid-area: 1 / 1 / 1 / 1;
	font-size: larger;
	border-right:1px solid rgba(255, 255, 255, 0.5);
	margin-right:2%;
}
.rightstat {
	grid-area: 1 / 2 / 1 / 2;
	font-size: larger;
	border-left:1px solid rgba(255, 255, 255, 0.5);
	margin-left:2%;
}
.stats button{
	margin-left: -30px;
    height: 20px;
    width: 30px;
	background-color: transparent;
	border:transparent;

}
.stats button:hover{
	background-color: rgba(0, 0, 0, 0.10);
}
.stats span{
	font-size: 50%;
	margin: 0;
	padding: 0;
}
.stats h2{
	display:inline;
	margin:10%;
}